[Unit]
Description=Fluentd
Documentation=http://www.fluentd.org/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fluentd -c /etc/fluentd/fluent.conf -d /run/fluentd.pid -o /var/log/fluentd/fluentd.log
PIDFile=/run/fluentd.pid
Restart=on-failure
User=fluentd
Group=fluentd

[Install]
WantedBy=multi-user.target
